/* コンテナ */
.signup-container {
  display: flex;
  justify-content: center;
  align-itmes: center;
}

/* 画面：左はイメージ、右：テキスト　*/
.signup-image {
  width: 100%;
  height: 100%;
}

.signup-left {
  flex: 1;
}

.signup-right {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}

.signup-right {
  @media (max-width: 900px) {
    width: 100%; /* 페이지 너비가 900px 이하인 경우 가로 폭을 100%로 설정하여 합쳐집니다. */
  }
}

/* 幅が900pxになると、左のイメージは隠して flexが初期値になる */
@media screen and (max-width: 900px) {
  .signup-left {
    flex: initial;
  }
}

@media screen and (max-width: 900px) {
  .signup-image {
    display: none;
  }
}

/* inputの属性 */

.input-group {
  margin-bottom: 50px;
}

.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* checkboxの属性 */
.checkbox {
  margin-bottom: 15px;
}

.checkbox label {
  font-size: 14px;
}

.signup-box {
  margin: 10px;
}

/* buttonの属性 */
.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0056b3;
}

/* linkの属性 */
.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.signup-link a {
  color: #4ba67a;
  font-weight: 600;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.error-icon {
  margin-right: 5px;
}
