/* 背景コンテナ　TODO：どんな箇所でも適用したい。　*/
.editor-container {
  background-color: #ffcfba;
}

.editor-image {
  border-radius: 20px;
  width: 35vw;
}

.editor-sub-container {
  /* padding: 20% 0; */
}

/*　テキスト */
.editor-main-title {
  font-weight: 600;
  font-size: 4vw;
  padding: 5% 5% 5% 5%;
}

.editor-title {
  color: #4ba67a;
  font-weight: 600;
  font-size: 3vw;
  padding: 25% 5% 5% 0%;
}

.editor-name {
  padding: 1vw 0 0 0;
  font-size: 4vw;
  font-weight: 600;
}

.editor-fullName {
  line-height: 20px;
  font-size: 1.5vw;
}

.editor-text {
  font-size: 1.5vw;
}

@media screen and (max-width: 767px) {
  .editor-main-title {
    font-size: 60px;
  }
  .editor-text .editor-fullName {
    font-size: 14px;
  }
  .editor-title {
    padding: 5% 0 5% 0;
  }
  .text-title-frame {
    padding: 20px 0 100px 0px;
  }
}
