.about_container {
  height: 500px;
  border-radius: 15px;
  margin: 100px;
}

.about_main_image {
  width: 55%;
  margin: 0 0 0 35%;
  border-radius: 20px;
}

.about_bg {
  display: flex;
}

.about_main_text {
  margin: 50px 100px 50px 100px;
  font-size: 90px;
}
