/* footer コンテナ */
.footer-container {
  padding: 40px 60px;
  background: #f98351;
  width: 100vw;
}

.footer-wrapper {
  margin: 0 auto;
}

.footer-column {
  text-align: left;
  margin-left: 60px;
}

.footer-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.footer-text {
  line-height: 1.5vw;
  margin-top: 15px;
  font-size: 1.2vw;
  color: #fff;
}

.footer-licenses {
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.footer-link {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.5vw;
  text-decoration: none;

  &:hover {
    color: #ff9c00;
    transition: 200ms ease-in;
  }
  cursor: pointer;
}

.footer-sub-link {
  color: #fff;
  padding: 50px 0 0 0px;
  &:hover {
    color: #ff9c00;
    transition: 200ms ease-in;
  }
}

.footer-title {
  font-size: 2.5vw;
  color: #fff;
  width: 100%;
}

.footer-grid {
  display: grid;
  color: #ffffff;
  background-color: #f98351;
  height: 900px;
}

.footer-column-2 {
  margin: 0 0 0 5%;
}

.footer-sub-text {
  font-size: 2vw;
  margin-top: 20vw;
  text-align: center;
  color: #fff;
}

.footer-icon {
  display: flex;
  gap: 10%;
  &:hover {
    color: #fff;
    transition: 200ms ease-in;
  }
}

/* テキストのレスポンシブのサイズ */

@media screen and (max-width: 767px) {
  .editor-main-title {
    font-size: 60px;
  }
  .editor-text .editor-fullName {
    font-size: 14px;
  }
  .editor-title {
    padding: 5% 0 5% 0;
  }
  .text-title-frame {
    padding: 20px 0 100px 0px;
  }
}

/* Logo & Img */

.footer-link-container {
  display: flex;
}

.footer-fox-img {
  width: 10vw;
}

@media (max-width: 1024px) {
  .footer-grid {
    padding-left: 20px;
  }
}
