.scroll-top-button {
  position: fixed; /* 固定する */
  bottom: 50px;
  right: 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%; /* 동그란 모양으로 만들기 */
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex; /* 아이콘을 가운데 정렬하기 위해 flex 사용 */
  align-items: center; /* 아이콘을 세로 가운데 정렬 */
  justify-content: center; /* 아이콘을 가로 가운데 정렬 */
}

.scroll-top-button:hover {
  background-color: #0056b3;
}
